*{
    box-sizing: border-box;
    margin: 0px;
}
body{
    box-sizing: border-box;
    color: white;
    background-color: rgb(124, 18, 173);
    display: grid;
    text-align: center;
    place-items: center;
}





